In [25]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import json
import requests
headers = {'Content-Type': 'application/json'}
data = {"seriesid": ['LNU04032231','LNU04034202Q',' LNU04034205'],
        "startyear": "2022",
        "endyear": "2023",
        "registrationKey": "5133410b82ac4503b6314e1b69f6fc56"}
response = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/',
                         headers=headers, json=data)
if response.status_code == 200:
    unemployment_data = response.json()
    print(unemployment_data)
else:
    print("Error retrieving data")

# for key, value in unemployment_data.items():
#          print(key, ":", value)

#print(unemployment_data["Results"]['series'])
#hola=pd.DataFrame.from_dict(unemployment_data)

#hola.to_csv("data.csv",index=False)
#print(json.dumps(unemployment_data, indent=4, sort_keys=True))
#LNS14000000
#hola
#unemployment_data

{'status': 'REQUEST_SUCCEEDED', 'responseTime': 231, 'message': ['No Data Available for Series LNU04034202Q Year: 2023', 'Invalid Series for Series LNU04034205'], 'Results': {'series': [{'seriesID': 'LNU04032231', 'data': [{'year': '2023', 'period': 'M01', 'periodName': 'January', 'latest': 'true', 'value': '6.9', 'footnotes': [{}]}, {'year': '2022', 'period': 'M12', 'periodName': 'December', 'value': '4.4', 'footnotes': [{}]}, {'year': '2022', 'period': 'M11', 'periodName': 'November', 'value': '3.9', 'footnotes': [{}]}, {'year': '2022', 'period': 'M10', 'periodName': 'October', 'value': '4.1', 'footnotes': [{}]}, {'year': '2022', 'period': 'M09', 'periodName': 'September', 'value': '3.4', 'footnotes': [{}]}, {'year': '2022', 'period': 'M08', 'periodName': 'August', 'value': '3.9', 'footnotes': [{}]}, {'year': '2022', 'period': 'M07', 'periodName': 'July', 'value': '3.5', 'footnotes': [{}]}, {'year': '2022', 'period': 'M06', 'periodName': 'June', 'value': '3.7', 'footnotes': [{}]}, {'year': '2022', 'period': 'M05', 'periodName': 'May', 'value': '3.8', 'footnotes': [{}]}, {'year': '2022', 'period': 'M04', 'periodName': 'April', 'value': '4.6', 'footnotes': [{}]}, {'year': '2022', 'period': 'M03', 'periodName': 'March', 'value': '6.0', 'footnotes': [{}]}, {'year': '2022', 'period': 'M02', 'periodName': 'February', 'value': '6.7', 'footnotes': [{}]}, {'year': '2022', 'period': 'M01', 'periodName': 'January', 'value': '7.1', 'footnotes': [{}]}]}, {'seriesID': 'LNU04034202Q', 'data': [{'year': '2022', 'period': 'Q04', 'periodName': '4th Quarter', 'latest': 'true', 'value': '1.7', 'footnotes': [{}]}, {'year': '2022', 'period': 'Q03', 'periodName': '3rd Quarter', 'value': '1.2', 'footnotes': [{}]}, {'year': '2022', 'period': 'Q02', 'periodName': '2nd Quarter', 'value': '1.5', 'footnotes': [{}]}, {'year': '2022', 'period': 'Q01', 'periodName': '1st Quarter', 'value': '2.1', 'footnotes': [{}]}]}, {'seriesID': ' LNU04034205', 'data': []}]}}

In [27]:
#unemployment_data_df=pd.DataFrame(unemployment_data["Results"])
#unemployment_data_df2=pd.DataFrame(unemployment_data["Results"]["series"][0]["data"])
unemployment_data_df=pd.DataFrame(unemployment_data["Results"]["series"])
unemployment_data_df
# unemployment_data_df2
# hola=pd.merge(unemployment_data_df2,unemployment_data_df,left_index=True, right_index=True)
# hola.tail()

       seriesID                                               data
0   LNU04032231  [{'year': '2023', 'period': 'M01', 'periodName...
1  LNU04034202Q  [{'year': '2022', 'period': 'Q04', 'periodName...
2   LNU04034205                                                 []